language: ruby
rvm:
  - 2.2
  - 2.1
  - 2.0
  - 1.9.3

sudo: required

services:
  - docker

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y ansible

script:
  - wget -O- https://github.com/wtanaka/role-tester-ansible/archive/master.tar.gz | tar xvfz -
  - env ROLE_UNDER_TEST=ansible-role-teamviewer make -C role-tester-ansible-master

after_failure:
  - cat .kitchen/logs/*.log | grep -v '^I, '

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
